body{
    background-color: #6c7b6d;
    /* font color - color: */ 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    background-color: #F7E1D7;
    /* margin is outside of the box, padding is inside of the box */
    border: 3px solid white; /* solid can be replaced by dashed*/
    border-radius: 8px;
    padding: 6px; /* first px is top bottom, second is left and right*/
    text-align: center;
    width: 60%;  /*changes the width of the box, so doesn't take up entire screen */
    margin: 0px auto;
    /* font-family: */
}
h2{
    font-size:1.3em;
    text-align: center;
    font-style: italic;
}
h3{
    border-left: 20px groove #C9ADA7;
    padding-left: 9px;
    border-radius: 30px;
    /*border-bottom: 2px solid #fff;*/
    /*width: 78px;*/
    /* background-color: ;*/
}
p{
    line-height:1.6em;
    background-color: #DEDBD2;
    padding: 15px;
    border: 2px dotted #4A5759;
    font-size: 20px;
}
img{
    width: 140px;
    border-radius: 15px;
    border: 3px solid #EDAFB8;
    float: left;
    margin-right: 15px;
}
/* pseudo selectors */
a:link{
    color: #461220;
    text-decoration: none;
    /* font weight: bold; */
}
a:visited{
    color: #914747;
}
a:hover{
    color: #D4A373;
}
a:active{
    color: #4A5759;
}
/* ID RULES */
#pic1{
    width: 190px;
}
#pic2{
    width: 160px;
}
#pic3{
    width: 170px;
}

#container{
    width: 800px;
    margin: 0px auto;
    padding: 30px;
    background-color: #B0C4B1;
    /* background-color; padding; border-left; border right; */
}

/* Class rule*/
.highlight{
    background-color: #CCD5AE; 
    color: black;
    padding: 2px;
    border-radius: 3px;
}
#sidebar{
    background-color: white;
    width: 400px;
    line-height: 1.6em;
    border: 2px solid purple;
    float: right;
    margin: 14px;
    margin-top: 55px;
}
#sidebar h3{
    border: none;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: purple;
    width: 150px;
}
#sidebar li{
    font-style: italic;
}